<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="p1.c2"/>
      <class name="p2.c3"/>
      <class name="p1.c1"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
